<!DOCTYPE html>
<html lang="{{locale}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% block title %}{% endblock %}
    <div id="root">{{ renderHtml | safe }}</div>
    <script type="text/javascript">
        window['renderProps'] = {{ data | dump | safe }};
    </script>
    <script type="text/javascript" src="/page/static/{{ page | safe }}.js" async></script>
    {% block script %}{% endblock %}
</body>
</html>