{% extends "base.njk" %}

{% block preload %}
    <link data-chunk="index" rel="preload" as="script" href="/page/static/pages-List.js">
{% endblock %}

{% block title %}
    This is list page!
{% endblock %}

{% block script %}
    <script type="text/javascript" src="/page/static/pages-List.js" async></script>
{% endblock %}
